header.header {
  background: linear-gradient(90deg, #202024 0%, #00291D 100%);

  padding: 4rem 12rem 12rem;

  display: flex;
  align-items: center;
  justify-content: space-between;


  img.ignite-logo {
    margin: 8px 24px 0 0;
  }
}